<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>CS 673 Project Repository</title>
	</head>
	<body>
		<!--HEADER-->
		<nav id="header" class="navbar navbar-expand-lg navbar-light bg-white bottom_shadow">
				<a class="navbar-brand mr-auto" href="{% url 'main' %}" style="">
					<span id="title"><h2>Archive</h2></span>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="navbar-menu" class="navbar-collapse collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'main' %}">All Projects</a>
						</li>
						{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'upload' %}">Upload Project</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}">Sign In</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>

		{% for err in errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ err }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}

		<div id="contentwrapper" class="d-flex py-3">
			<div id="content" class="mx-auto">
				{% block content %}{% endblock %}
			</div>
		</div>

		<!--FOOTER-->
		<div class="fixed-bottom jumbotron jumbotron-fluid m-0 p-3 v-100">
		<p class="lead">2018 Fall CS 673 Past Project Repository</p>
		</div>
	</body>
</html>