<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Bootstrap mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>A R C H I V E | Group 3</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Styling -->
		<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
		<link href="styleWeb1.css" rel="stylesheet">
		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
		
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="#"><h1>aRchive</h1></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">account</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="login1.html">log in</a>
								<a class="dropdown-item" href="#">new account</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="search1.html">search</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">upload</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="row">
				<div class="col">
					<p><span class="lead">Welcome to Archive!</span><br>This is a web application that serves as a repository for the projects created in Professor Elentukh&rsquo;s Spring 1 CS 633 class. You may search for projects and upload one as well.</p>
				</div>
			<div class="col-8">
				derp
			</div>
			<!--div class="col">
				terp
			</div>-->
			</div>
			
		</div>
		
	</body>
	<footer class="container-fluid">
		<p>&copy;2019—group 3: nimin&middot;lori&middot;hardik&middot;diana&middot;luis - all rights reserved</p>
	</footer>
</html>