{% extends 'manager/base.html'  %}

{% block content %}
<div class="container-fluid mt-3 w-75">
	{% if request.user.is_authenticated or not project.is_hidden %}
		<h3>project details</h3>

		<!--<b>Project Name:</b> {{ project.name }}<br>
		<b>Semester:</b> {{ project.semester }}<br>
		<b>Year:</b> {{ project.year }}<br>
		<b>Description:</b><br>
		{{ project.description }}<br>-->
		<span class="item">project name&brvbar;</span> {{ project.name }}<br>
		<span class="item">semester&brvbar;</span> {{ project.semester }}<br>
		<span class="item">year&brvbar;</span> {{ project.year }}<br>
		<!--<span class="item">description&brvbar;</span><br>-->
		<!-- Indent text block? -->
		<!--{{ project.description }}<br>-->
		<span class="item">description&brvbar;</span>{{ project.description }}<br>
		{% if project.website %}
			<!--<b>Website Link:</b> <a href="{{ project.website }}">{{ project.website }}</a><br>-->
			<span class="item">website link&brvbar;</span> <a href="{{ project.website }}">{{ project.website }}</a><br>
		{% endif %}
		{% if project.github %}
			<!--<b>GitHub Link:</b> <a href="{{ project.github }}">{{ project.github }}</a><br>-->
			<span class="item">gitHub link&brvbar;</span> <a href="{{ project.github }}">{{ project.github }}</a><br>
		{% endif %}
		{% if project.project_management %}
			<!--<b>Project Management Link:</b> <a href="{{ project.project_management }}">{{ project.project_management }}</a><br>-->
			<span class="item">project management link&brvbar;</span> <a href="{{ project.project_management }}">{{ project.project_management }}</a><br>
		{% endif %}
		<br>
		{% if project.file %}
			<!-- ORIGINAL -->
			<!--<b>File Download:</b> <a href="/{{ project.file }}" download="{{ project.file }}">Download</a><br>-->
			<!--<b>File Download:</b> <a id="dwnld" href="/{{ project.file }}" download="{{ project.file }}">download</a><br>-->
			<span class="item">file download&brvbar;</span> <a id="dwnld" href="/{{ project.file }}" download="{{ project.file }}">download</a><br>
			<!-- Button Version -->
			<!--<b>File Download:</b> <a id="dwnload-btn" href="/{{ project.file }}" download="{{ project.file }}">download</a><br>-->
			<!-- Other Button Code -->
			<!--<button id="upload-btn" type="submit" class="mt-3 w-50 mx-auto btn btn-secondary btn-lg btn-block" style="">upload</button>-->
		{% endif %}
		<hr>
		<!--<b>Instructor:</b> {{ project.instructor.first_name }} {{ project.instructor.last_name }} ({{ project.instructor.username }})<br>-->
		<span class="item">instructor&brvbar;</span> {{ project.instructor.first_name }} {{ project.instructor.last_name }} {{ project.instructor.username }}<br>
		<!--<b>Faciliator:</b>-->
		<span class="item">faciliator/s&brvbar;</span>
		<ul>
			{% for facilitator in project.get_facilitator %}
				<li>{{ project.instructor.first_name }} {{ project.instructor.last_name }} ({{ project.instructor.username }})</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul>
		<!--<ul>
			{% for facilitator in project.get_facilitator %}
				<li>{{ project.instructor.first_name }} {{ project.instructor.last_name }} {{ project.instructor.username }}</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul-->
		<hr>
		<!--<b>Team Members:</b>-->
		<span class="item">team members&brvbar;</span>
		<ul>
			{% for team_member in project.get_team_member %}
				<li>{{ team_member.name }}</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul>
		<!--<b>Programming Languages:</b>-->
		<span class="item">programming languages&brvbar;</span>
		<ul>
			{% for language in project.get_language %}
				<li>{{ language.name }}</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul>
		<!--<b>Frameworks:</b>-->
		<span class="item">frameworks&brvbar;</span>
		<ul>
			{% for framework in project.get_framework %}
				<li>{{ framework.name }}</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul>
		<!--<b>Keywords:</b>-->
		<span class="item">keyword/s&brvbar;</span>
		<ul>
			{% for keyword in project.get_keyword %}
				<li>{{ keyword.word }}</li>
			{% empty %}
				<li>None</li>
			{% endfor %}
		</ul>
	{% else %}
		<h4>You are not authorized to view this project</h4>
	{% endif %}
</div>
{% endblock %}