{% extends 'manager/base.html'  %}

{% block content %}
<div class="container-fluid mt-3" style="margin-bottom: 100px;">
	<div id="projects" class="row">
		{% for project in projects %}
			{% if request.user.is_authenticated or not project.is_hidden %}
				<div class="col-md-4 col-sm-6 mb-3">
					<a href="{% url 'project' project_id=project.id %}" style="text-decoration: none;">
						<div id="id" class="card h-100 border-dark" style="cursor: pointer">
							<div class="card-header">{{ project.name }}<br> <i>{{ project.semester }} {{ project.year }}</i></div>
							<div class="card-body text-dark">
								<p class="card-text">{{ project.description|truncatechars:200 }}</p>
							</div>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}