body{
    background-color: #304345;
    font-size: 14pt;
    color: #DCEBDD;
    font-family: 'Arvo', serif;
    height: 100%;
}
#header{
    background: #304345;
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace;
}
h1{
    color: #DCEBDD;
}
h2{
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace; 
}
h3{
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace; 
}
hr{
    color: #DCEBDD;
}
#project_name{
    color: #304345;
}

.footer{
    bottom: 0%;
    position: relative;
    background-color: #304345;
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 50%;
    text-align: center;
    height: 3%;
    width: 100%;
    text-decoration: none;
}
.foot-link:link{
    color: #789AA0;
    text-decoration: none;
}
.foot-link:hover{
    background-color: #DCEBDD;
    color: #304345;
}
.foot-link:active{
    color: #AD9A32;
}
.foot-link:visited{
    color: #AD9A32;
}


.text-muted{
    font-family: 'Major Mono Display', monospace;
}
#upload-btn{
    font-family: 'Major Mono Display', monospace;
    border-radius: 4px;
    border: 2px #AD9A32 solid;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    text-shadow: 1px 1px #FFF;
}
#dwnload-btn{
    font-family: 'Major Mono Display', monospace;
    border-radius: 4px;
    border: 2px #AD9A32 solid;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    text-shadow: 1px 1px #FFF;
}
.btn{
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    font-family: 'Major Mono Display', monospace;
    text-shadow: 1px 1px #FFF;
}
.modal, .modal-body, .modal-title{
    color: #304345;
}
/* Navigation links */
.nav-link:link{
    color: #DCEBDD;
    text-decoration: none;
}
.nav-link:hover{
    background-color: #DCEBDD;
    color: #304345;
}
.nav-link:active{
    color: #AD9A32;
}
.nav-link:visited{
    color: #789AA0;
}
#dwnld{
    color: #AD9A32;
    font-family: 'Major Mono Display', monospace;
}
#dwnld:hover{
    background-color: #789AA040;
    text-decoration: none;
}
.item{
    font-family: 'Major Mono Display', monospace;
    color: #789AA0;
}
.card-header{
    text-decoration: none;
    color: #304345;
}
.card-text{
    text-transform: lowercase;
    font-family: 'Arvo', serif;
    color: #789AA0;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 235, 221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: #DCEBDD;
    align-items: baseline;
}
.test1{
    background-color: #789AA0;
}
#content{
    min-width: 80%;
}
