body{
    background-color: #304345;
    font-size: 14pt;
    color: #DCEBDD;
    font-family: 'Arvo', serif;
    height: 100%;
}
#header{
    background: #304345;
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace;
}
h1{
    color: #DCEBDD;
}
h2{
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace; 
}
h3{
    color: #DCEBDD;
    font-family: 'Major Mono Display', monospace; 
}
hr{
    color: #DCEBDD;
}
#project_name{
    color: #304345;
}
#footer{
    bottom: 0px;
    background-color: red;
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 50%;
    text-align: center;
    align-items: baseline;
    height: 4%;
    width: 100%;
}
.text-muted{
    font-family: 'Major Mono Display', monospace;
}
#upload-btn{
    font-family: 'Major Mono Display', monospace;

    border-radius: 4px;
    border: 2px #AD9A32 solid;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    text-shadow: 1px 1px #FFF;
}
#dwnload-btn{
    font-family: 'Major Mono Display', monospace;

    border-radius: 4px;
    border: 2px #AD9A32 solid;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    text-shadow: 1px 1px #FFF;
}
.btn{
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to bottom right, #DCEBDD, #789AA0);
    color: #304345;
    font-family: 'Major Mono Display', monospace;
    text-shadow: 1px 1px #FFF;
}
.modal, .modal-body, .modal-title{
    color: #304345;
}
/* Navigation links */
.nav-link:link{
    color: #789AA0;
    text-decoration: none;
}
.nav-link:hover{
    background-color: #DCEBDD;
    color: #304345;
}
.nav-link:active{
    color: #AD9A32;
}
.nav-link:visited{
    color: #789AA0;

}
#dwnld{
    color: #AD9A32;
    font-family: 'Major Mono Display', monospace;
}